body{
    margin: 0;
    font-family: serif;
    background-color: #f0f0f0;
}

/* Start Header */
.hero {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 2%;
    display: flex;
    gap: 50px;
}

.link{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* End Header */

/* Start Div About */
#about{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

#about img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-text{
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.about-text h2{
    color:#222;
    font-size: 2em;
    margin-bottom: 10px;
}

.about-text p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about-extra{
    text-align: center;
    font-style: italic;
    position: relative;
    top: 50px
}
/*End Div About*/

/*Responsive page*/
@media (min-width: 320px) and (max-width: 768px) {
    /*Header*/
    .hero{
        flex-direction: column;
        align-items: center;
    }

    /*Div about*/
    #about{
        flex-direction: column;
        align-items: center;
    }

    .about-text{
        text-align: center;
    }

    .about-extra{
        margin-bottom: 5rem;
    }
}